.idea/
*.pyc
*.iml

env/
.terraform/
terraform.tfstate
terraform.tfstate.backup
python.zip
.src/
.terraform.*

**/python/test/app/
examples/getting-started/terraform.tfvars
test_args.sh
invoke_it.sh
.archive/
.archive.zip
.python.zip
.python/
api_clear_api.tf
terraform.tfvars
